body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    color: #f0f0f0;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

.row {
    margin-bottom: 10px;
}

    .row label {
        display: block;
        margin-bottom: 5px;
    }

.palette-controls {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-bottom: 10px;
}

    .palette-controls input[type="number"] {
        width: 50px;
        text-align: center;
        margin: 0 5px;
    }

    .palette-controls input[type="button"] {
        width: 30px; /* Adjust width of +/- buttons */
        margin: 0 2px; /* Adjust margin for spacing */
    }
.container {
    margin: 50px auto;
    max-width: 600px;
    background-color: #222831;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sliders {
    margin: 20px 0;
}

    .sliders label {
        display: block;
        margin: 10px 0 5px;
    }

.palette {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.color {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}
#paletteCanvas {
    display: none;
    margin-top: 20px;
}

#saveImageBtn {
    margin-top: 10px;
}
